body {
    margin: 0;
    padding: 0;
    font-family: 宋体;
    -webkit-user-select: none;
    overflow-x: hidden;
    -webkit-font-smoothing;
}

header {
    display: flex;
    background: #C9BE62;
}

a {
    text-decoration: none;
    color: #463E3F;
}

#nav a:hover {
    text-decoration: underline;
    color: #E5E4E2;
}

#top {
    position: relative;
    left: 70%;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

#top a {
    margin-left: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    z-index: 10;
    height: 40px;
}

.nav {
    position: relative;
    background: #98AFC7;
    width: 350px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 10;
    overflow: hidden;
    transition: all 0.7s;
}

.nav_text{
    height: 40px;
}

.nav:hover {
    background: rgba(22, 22, 22, 0.5);
}

#rmtj:hover {
    background: rgba(22, 22, 22, 0.5);
    height: 40px;
}

#sgyp:hover {
    background: rgba(22, 22, 22, 0.5);
    height: 160px;
}

#jmcq:hover {
    background: rgba(22, 22, 22, 0.5);
    height: 160px;
}

#drcp:hover {
    background: rgba(22, 22, 22, 0.5);
    height: 160px;
}

#mscp:hover {
    background: rgba(22, 22, 22, 0.5);
    height: 160px;
}

#jrwm:hover {
    background: rgba(22, 22, 22, 0.5);
    height: 160px;
}

aside {
    width: 40px;
    height: auto;
    border: 1px solid red;
    position: fixed;
    left: 320px;
    top: 300px;
    white-space: normal;
    z-index: 100;
    font-size: 14px;
}

.side {
    width: 40px;
    height: 50px;
    text-align: center;
    transition: background 0.2s;
}

.side:hover {
    background: rgba(255, 127, 80, 0.5);
    font-weight: bolder;
}

.side_text {
    position: relative;
    top: 8px;
}

h1 {
    color: red;
    display: flex;
    justify-content: center;
}